@import '../styles/style';
:host {
	box-shadow: none;

	.container-content {
		width: 85%;
		max-width: 1500px;
	}

	.header__hamburger {
		background-color: transparent;
		border: 0;
		border-radius: unset;
		padding: 0 12px 0 0;
		outline: none;

		&:hover {
			background-color: transparent;
		}
	}
}
@import 'header_unica_riga';
