@import '../styles/mixin';
:host {

  &.header__bottom {
    display: block;
  }

  &.header__bottom {
    background: $primary_color;
    padding: 10px 0;

    nav {
      @include header_container();

      ul {

        li {
          align-items: center;
          height: $nav_loghi_height + 10px;
          justify-content: center;
          margin-left: 0;
          position: relative;
          width: $nav_loghi_outer_width;

          a {
            height: $nav_loghi_height;
            line-height: unset;
            width: 100%;
            justify-content: center;
            align-items: center;

            &:hover {
              background: rgba(#FFF, .1);
            }

            .item-icon {
              display: block;
              height: auto;
              margin: 0 auto;
              max-height: $nav_loghi_height;
              padding: 0;
              width: 75px;
            }

          }

        }

      }
    }
  }
}
