:host {
	.product-detail-content {
		.upscale-style-green-border {
			border: 4px green solid;
			margin: 20px 0;
			border-radius: 8px;
			padding: 5px;
		}

		.upscale-style-blue-italic {
			color: blue;
			font-style: italic;
			margin-top: 6px;
			margin-bottom: 18px;
		}

		.upscale-style-delivery-logo {
			color: #fff;
			text-indent: -9999px;
			background: url('https://caas-demo-products.s3.amazonaws.com/CBell/384653-PCBO6D-326.jpg') no-repeat;
			width: 200px;
			height: 200px;
		}

		.upscale-style-red-normal {
			color: red;
			font-size: 24px;
			margin: 0px 0 20px 0;

			.base-attribute-padding {
				padding: 0;
			}
		}

		.upscale-style-red-bold {
			color: red;
			font-weight: 700;
			font-size: 24px;
			position: relative;
		}

		.upscale-style-green-normal {
			color: green;
			font-size: 24px;
			margin: 0px 0 20px 0;
		}

		.upscale-style-green-bold {
			color: green;
			font-weight: 700;
			font-size: 24px;
		}

		.upscale-style-delivery-icon {
			position: relative;
			color: transparent;
			margin: 20px 10px;

			&::after {
				content: url('https://caas-demo-products.s3.amazonaws.com/CBell/delivery_truck_icon_129109.png');
				display: block;
				position: absolute;
				width: 48px;
				height: 48px;
				left: 0;
				top: 50%;
				transform: translate(0%, -50%);
			}
		}

		.upscale-style-special-offer-icon {
			position: relative;
			color: transparent;
			margin: 20px 10px;

			&::after {
				content: url('https://caas-demo-products.s3.amazonaws.com/CBell/specialOffer.png');
				display: block;
				position: absolute;
				width: 48px;
				height: 48px;
				left: 0;
				top: 50%;
				transform: translate(0%, -50%);
			}
		}
	}
}
