.full-width-custom {

  .container-content {
    max-width: 2000px !important;
    width: 100%;
    margin: 0 auto;
  }

  upscale-aspect-ratio-image {
    margin: 0 auto;
  }

  .slick-prev {
    left: 5px !important;
  }

  .slick-next {
    right: 5px !important;
  }
}
