@mixin img-txt-dx__outer_box () {
  background: transparent;
  right: 0;
  top: 0;
  color: white;
  font-weight: bold;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin img-txt-dx__inner_box () {
  display: flex;
  flex-direction: column;
  position: relative;
}

#upscale {

  .img-txt-dx {
    upscale-storybook-content {
      @media (min-width: 1024px) {

        .overlay {
          @include img-txt-dx__outer_box();

          .overlay-content {
            background-color: transparent;
            height: auto;
            margin-right: 2em;
          }
        }

        .storybook-content {
          @include img-txt-dx__inner_box();
        }

        .image-component-content-headline,
        .image-component-content-subheadline,
        .link-text,
        .image-component-link-button {
          color: #FFF;
          font-weight: bold;
          text-align: center !important;
        }

      }

      .headline-text,
      .sub-headline-text,
      .link-text{
        white-space: unset;
      }
    }
  }

  // Storybook
  .txt-dx {

    &.slider {
      upscale-storybook-content {

        .storybook-content {

          upscale-aspect-ratio-image {
            grid-row: 1;
            grid-column: 1;
          }

          .overlay {
            grid-row: 1;
            grid-column: 2;
          }
        }

        .overlay {
          position: static;
        }
      }
    }

    upscale-storybook-content {
      @media (min-width: 1024px) {
        .storybook-content {
          display: grid;
          grid-template-columns: 1fr 1fr;

          .overlay {
            align-items: center;
            display: flex;
            justify-content: center;

            .overlay-content {
              height: auto;
            }

            .headline-text,
            .sub-headline-text,
            .link-text {
              white-space: unset;
            }
          }
        }
      }
    }
  }

  upscale-image {

    &.txt-dx {

      @media (min-width: 1024px) {

        .overlay-content {
          @include img-txt-dx__outer_box();
        }

        .image-container {
          @include img-txt-dx__inner_box();
        }

        .image-component-content-headline,
        .image-component-content-subheadline,
        .link-text,
        .image-component-link-button {
          color: #FFF;
          font-weight: bold;
          text-align: center !important;
        }

      }

      .headline-text,
      .sub-headline-text,
      .link-text{
        white-space: unset;
      }

    }

  }

}
