@import "../styles/style";

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/gotham.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/gotham.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gotham.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/gotham.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gotham.svg#svgFontName') format('svg');
    /* Legacy iOS */
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/GothamBold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GothamBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GothamBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GothamBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GothamBold.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight:normal
}

@each $id, $font-family in $google-fonts {
    @import url('https://fonts.googleapis.com/css2?family=#{$font-family}&display=swap');
}

html, body {
    font-family: $font-family;
    height: 100%;
    background-color: #FFFFFF;
}

button {
    font-family: $font-family;
}
