[class*="asym-layout-"] {
  :host {
    .storybook-content {

      .overlay {
        background: transparent;
        max-height: 33%;
        position: unset;
        display: unset;
        visibility: unset;

        .overlay-content {
          background: transparent !important;
          display: grid;
          grid-template-columns: 2fr min-content;
          padding: 0 12px !important;

          .content-headline {
            grid-column: 1;
            grid-row: 1;
          }

          .product-name {
            grid-column: 1;
            grid-row: 1 / 3;

            -webkit-line-clamp: unset;
            max-height: unset;

          }

          .content-headline + .product-name {
            grid-column: 1;
            grid-row: 2;
          }

          .price {
            grid-column: 2;
            grid-row: 2;
          }

          .buy-buttons {
            padding: 7px 0;
            grid-column: 2;
            grid-row: 1;
          }

          .content-headline, .product-name {
            text-align: left !important;
          }

          .price, .buy-buttons {
            justify-content: space-around !important;
          }

          .storybook-category-content-name,
          .storybook-article-content-name,
          .storybook-template-id-content-headline {
            font-size: 18px;
            padding-top: 1em;
          }

        }

      }
    }
  }
}

.upscale-mobile {
  [class*="asym-layout-"] {
    :host {

      .ng-star-inserted + upscale-aspect-ratio-image {
        max-height: 140px;
      }

      .storybook-content {
        .overlay {
          max-height: 100%;

          .overlay-content {
            display: flex;
            justify-content: space-between;

            .product-name {
              text-align:center !important;
            }
          }
        }
      }


    }
  }
}
